/* =========================
   Social Links
========================= */

.social-links {
    margin-top: 40px;

    display: flex;
    gap: 30px;
}

.social-links a {
    color: #888;

    font-size: 12px;
    letter-spacing: 2px;

    border-bottom: 1px solid #444;

    padding-bottom: 5px;

    transition: 0.2s;
}

.social-links a:hover {
    color: #fff;
    border-color: #fff;
}


/* =========================
   Footer
========================= */

.footer {
    padding: 50px 6%;

    border-top: 1px solid #1b1e21;

    color: #444;

    font-size: 11px;

    letter-spacing: 2px;
}


/* =========================
   Smartphone
========================= */

@media (max-width: 700px) {

    .header {
        padding: 22px 7%;
    }

    .nav {
        gap: 15px;
    }

    .nav a {
        font-size: 9px;
    }

    .hero {
        padding: 0 7%;
    }

    .hero h1 {
        font-size: 25vw;
        letter-spacing: -5px;
    }

    .section {
        padding: 100px 7%;
    }

    .coming-soon {
        height: 220px;
    }

}